.searchInput {
	border: none;
	background-color: #f1f1f1;
	padding: 7px;
	border-radius: 10px;
	width: 100%;
	&:active,
	&:focus {
		outline: none;
	}
	&::placeholder {
		transform: translateX(5px);
	}
}
