.searchInput {
	border: none;
	background-color: #f1f1f1;
	padding: 7px;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 15px;
	&:active,
	&:focus {
		outline: none;
	}
	&::placeholder {
		transform: translateX(3px);
	}
}

.itemsContainer {
	max-height: 200px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #00000015;
		border-radius: 10px;
		cursor: pointer;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #00000030;
	}
}

.showMoreButton {
	color: #fe5f00;
	font-size: 17px;
	letter-spacing: 1px;
	margin-top: 15px;
}
