.wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}

.button {
	padding: 10px;
	border-radius: 15px;
	transition: all 0.3s ease;
}

.button[data-active='true'] {
	box-shadow: 0 4px 8px #00000033;
	color: #fe5f00;
}
